/*header from module 02 activity 13 modified*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #fafafa;
}

h1 {
    font-family: sans-serif;
    font-size: 350%;
    color: #0f4923;
}

li {
    font-family: sans-serif;
    font-size: 150%;
    color: #0f4923;
    display: inline-block;
}
/*Aside from Horiseon Challenge modified*/
aside {
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: serif;
    background-color: #fafafa;
}

h2 {
    font-size: 200%;
    font-family: serif;
}

h3 {
    font-size: 200%;
    font-family: serif;
}

