/*header from module 02 activity 13 modified*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #fffcea;
}

header nav {
    padding-top: 1%;
    margin-right: 1%;
    float: right;
    font-family: sans-serif;
    font-size: 150%;
}
header h1 {
    font-family: sans-serif;
    font-size: 350%;
    color: #218d47;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    font-family: sans-serif;
    font-size: 150%;
    display: inline-block;
}

main nav {
    display: grid;
    width: 100%;
    grid-template-columns: 9rem auto;
    float: left;
    margin-bottom: 32px;
    color: #218d47;
    padding-left: 2%;
}

aside {
    float: left;
    display: inline;
    padding: 1.5rem;
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: #218d47;
}

h2 {
    display: inline;
    font-size: 200%;
    font-family: serif;
    margin-bottom: 10px;
    text-align: left;
    flex: 1 0 100%;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

section {
    line-height: 100px;
    height: 100px;
    text-align: left;
    color: black;
    padding-left: 1%;
}
  
section p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

section ul {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.contacts {
    display: inline-block;
    justify-content: space-evenly;
    padding: 1.5rem;
    font-size: 100%;
}